# Configuración de correo para recuperación de contraseña
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_app_password
MAIL_FROM=tu_correo@gmail.com
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587

# Variables de la Base de Datos para Docker y Backend
DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=bookyhome
